*{padding: 0px; margin: 0px; box-sizing: border-box;}

h1{
  margin:80px 0px;
  text-align: center;
  text-transform : capitalize;
  font-weight : bold;
  font-family : "krona One", sans-serif;
}

.Cards{
    margin-left:200px;
}
.random_img img{
  width: 300px;
  height: 300px;
}
.random_img{
  margin: 15px;
  float: left;
  box-shadow: 10px 3px 8px #ccc;
}
.random_img:hover{
 box-shadow: 0 8px 50px rgba(0,0,0,0.2);
 transform: scale(1.05);
}
.card_info {
    text-align: center;
    margin-top: -4px;
    padding: 16px; 
}

.card_info button {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: orange;
  border-radius: 10px;
  outline: none;
  border: 1px;
  margin-top: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #fff;
}
h2.title {
  padding-top: 8px;
  font-size: 25px;
}
